In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder 
from xgboost import XGBRegressor
from sklearn import metrics  

import warnings
warnings.filterwarnings("ignore")

In [2]:
bigMartDataSet=pd.read_csv("C:/Users/sagar/Desktop/data analytics all project/Big Mart sales prediction/dataset/Train.csv")
bigMartDataSet.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
# Information of dataset
bigMartDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [67]:
# Find missing values in each column
bigMartDataSet.isnull().sum()

Item_Identifier                 0
Item_Weight                  8523
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [68]:
## Handling missing values
# Item_Weight  and Outlet_Size ye dono column me missing values h   

# Fill means value in all rows of Item_Weight
bigMartDataSet['Item_Weight'].fillna(bigMartDataSet['Item_Weight'].mean(),inplace=True)

In [56]:

# Fill means value in all rows of Outlet_Size
# Outlet_Size ek string type hai to isme mean nhi laga sakte,bacause mean sirf INT type ke sath lgta h
# hum outlet_type ka values outlet_size me fill krenge mod laga ke

mode1=bigMartDataSet.pivot_table(values='Outlet_Size',columns='Outlet_Type',aggfunc=(lambda x:x.mode()[0]) )

In [57]:
# miss values find karte h and jo value missing hoga usme mod fill kar denge upar wala
miss_values=bigMartDataSet['Outlet_Size'].isnull()
miss_values  
#Trur->waha missing value h and False-> missing value nhi h

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [58]:
bigMartDataSet.loc[miss_values,'Outlet_Size']=bigMartDataSet.loc[miss_values,'Outlet_Type'].apply(lambda x:mode1[x])

In [70]:

bigMartDataSet.isnull().sum()

Item_Identifier                 0
Item_Weight                  8523
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64